*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    
}

.navbar {
    background-color: #fbd5e5;
    height: 150px;
    display: flex;
    padding-left: 7%;
    mask-image: linear-gradient(
        #ffffff 80%,
        transparent
    );
    padding-top: 1%;

}
.navbar__box {
    position: relative;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    left: 10%;
    padding: 2%;

}

a {
    padding: 20px;
    text-decoration: none;
}



body {
    background-color: #fbd5e5f1;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.inicio {
    min-width: 450px;
    min-height: 600px;
    box-shadow: 2px 2px 27px 6px #f097bc;
    border-radius: 53px 130px 53px 115px;
    background: url("imagenes/fashion-portrait-black-woman.jpg");
    position: relative;
    top: 10%;

}


.index__main {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 350px;
}

.productos_main {
    padding: 10px;
}

.inicio__texto {
    width: 300px;
    font-size: 20px;
    font-weight: 500;
}

.logo {
    width: 350px;
    height: fit-content;
}

.productos_titulo__accesorios {
    text-align: center;
    justify-content: center;
    
}
.productos_seccion {
    justify-content: center;
    padding-left: 40px;
}


.item-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    justify-content: center;
    
}

.grid-item {
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 40px;
    width: 450px;
}

.items_img__container {
    background-color: #E5E5E5;
    width: 400px;
    text-align: center;
}

.items_img {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}

.item_name {
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
}
